.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.badge-green {
  background: var(----secondary-hardsoft);
  color: var(--primary);
}

.badge-orange {
  background: var(--orange-badge);
  color: var(--orange-text-badge);
}

.badge-gray {
  background: var(--secondary-hardsoft);
}